section {
  h2 {
    span {
      color: var(--brand-color);
    }
  }
  form {
    input {
      outline: none;
      border: 0;
      outline: 0;
    }
    a {
      color: var(--brand-color);
      text-decoration: underline;
    }
    .btn {
      transition: 0.3s;
      padding: 10px 20px !important;
    }
  }
}

@media (max-width: 870px) {
  section {
    width: 90% !important;
    h2 {
      font-size: 30px;
    }
    p {
      font-size: 15px;
    }
    form {
      input {
        padding: 10px 5px;
        font-size: 15px;
      }
      label {
        font-size: 13px;
      }
    }
  }
}
