.tutor_register {
  height: 100vh;
  .form-container {
    padding-top: 100px !important;
  }
  .background {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 10px 20px 0px #00000069;
  }
}

@media (max-width: 767px) {
  .col-md-5 {
    display: none;
  }

  .tutor_register {
    .form-container {
      padding-top: 150px !important;
    }
  }
}
