nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 50;
  .navbar {
    background-color: var(--body-bg-color);
    width: 90%;
    height: 88px;
    border-radius: 16px;
    box-shadow: 0 10px 20px 0px #00000013;
  }
}
