.main-nav {
  position: fixed;
  background-color: transparent;
  width: 100%;
  z-index: 40;
  .navbar {
    background-color: var(--body-bg-color);
    width: 90%;
    height: 88px;
    border-radius: 16px;
    box-shadow: 0 10px 20px 0px #00000013;

    .buttons {
      i {
        font-size: 25px;
        display: none;
      }
    }
  }
}

.phone-nav {
  position: fixed;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.171);
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease-in-out;

  .nav-container {
    transition: 0.6s ease-in-out;
    .exit-btn {
      position: absolute;
      top: 10px;
      right: -60px;
      width: 50px;
      height: 50px;
      font-size: 20px;
      transform: scale(0);
      color: var(--text-color);
      background-color: var(--body-bg-color);
      border-radius: 50%;
      cursor: pointer;
      transition: 0.5s;
    }
    width: 280px;
    height: 100%;
    transform: translateX(-100%);
    background: var(--body-bg-color);
    h3 {
      color: var(--paragraph-color);
    }
    a {
      color: var(--text-color);
      text-decoration: none;
    }
  }

  &.active {
    opacity: 1;
    pointer-events: all;
    .nav-container {
      transform: translateX(0);
      .exit-btn {
        transform: scale(1);
        transition-delay: 0.5s;
      }
    }
  }
}

@media (max-width: 1190px) {
  .main-nav {
    .navbar {
      width: 97%;

      .nav-links {
        padding: 0 10px !important;
      }

      .buttons {
        button {
          font-size: 15px;
        }
      }
    }
  }
}

@media (max-width: 920px) {
  .main-nav {
    .navbar {
      justify-content: space-between !important;
      height: 70px;

      .nav-links {
        display: none !important;
      }

      .buttons {
        button {
          display: none;
        }
        i {
          display: block;
        }
      }
    }
  }
}
