<nav>
  <div
    class="navbar mx-auto px-3 my-3 d-flex align-items-center justify-content-around"
  >
    <div class="nav-items h-100 d-flex align-items-center">
      <div class="logo h-100">
        <img src="../../../../assets/images/logo/darkLogo.png" />
      </div>
      <ul class="nav-links d-flex gap-3 m-0 px-5">
        <li>
          <a>Home</a>
        </li>
        <li>
          <a>Teacher</a>
        </li>
        <li>
          <a>Courses</a>
        </li>
        <li>
          <a>Blog</a>
        </li>
        <li>
          <a>About us</a>
        </li>
        <li>
          <a>Contact us</a>
        </li>
      </ul>
    </div>

    <div class="buttons">
      <button class="btn btn-secondary mx-1">Sign up</button>
      <button class="btn btn-primary mx-1">Log in</button>
      <button class="language btn btn-secondary mx-5 fw-bold">English</button>
    </div>
  </div>
</nav>
