<section>
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-7 px-5">
        <div class="image">
          <img
            src="../../../../../assets/images/desktop-illustration-step-1-x1.png"
            alt="desktop-illustration"
            #responsiveImage
          />
        </div>
      </div>
      <div class="col-lg-5">
        <div
          class="login-form-box d-flex align-items-center flex-column justify-content-center h-100 px-5"
        >
          <h2 class="text-center fw-bold mb-3">Forgot Password</h2>
          <p class="text-center">
            We’ll email you a link so you can reset your password.
          </p>
          <form
            class="w-100"
            [formGroup]="forgotPassword"
            (ngSubmit)="onSubmit()"
          >
            <div class="form_group mb-3">
              <input
                class="w-100 form-control"
                [class.is-invalid]="
                  forgotPassword.get('email')?.errors &&
                  forgotPassword.get('email')?.touched
                "
                type="email"
                id="email"
                formControlName="email"
                placeholder="Email address"
                required
              />

              <div
                class="alerts"
                *ngIf="
                  forgotPassword.get('email')?.errors &&
                  forgotPassword.get('email')?.touched
                "
              >
                <p
                  class="text-danger fw-normal mb-0"
                  *ngIf="forgotPassword.get('email')?.getError('required')"
                >
                  Email address is required.
                </p>
              </div>
            </div>

            <div class="form_group">
              <button
                type="submit"
                class="btn btn-primary text-uppercase w-100 fw-semibold"
              >
                Reset password
              </button>
            </div>
          </form>

          <p class="text-center mt-5 mb-3">
            or <a routerLink="/login">Log in</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
